<div id="logoutModal" class="modal">
  <div class="modal-box">
    <h3>Confirm Logout</h3>
    <p>Are you sure you want to logout?</p>

    <div class="modal-actions">
      <button onclick="closeLogoutModal()" class="cancel-btn">Cancel</button>
      <a href="/admin/logout" class="confirm-btn">Logout</a>
    </div>
  </div>
</div>
