.custom-toast {
  position: fixed;

  top: 24px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);

  min-width: 300px;

  padding: 16px 18px;

  background: #fff;

  border-radius: 16px;

  border: 1px solid #ececec;

  color: #111827;

  opacity: 0;
  visibility: hidden;

  transition: all 0.25s ease;

  z-index: 9999;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

.custom-toast.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.custom-toast.success {
  border-top: 4px solid #22c55e;
}

.custom-toast.error {
  border-top: 4px solid #ef4444;
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toast-content i {
  font-size: 18px;
}

.custom-toast.success i {
  color: #22c55e;
}

.custom-toast.error i {
  color: #ef4444;
}