<div class="confirm-modal" id="confirmModal">

  <div class="confirm-modal-box">

    <h3 class="confirm-modal-title">
      Confirm Action
    </h3>

    <p class="confirm-modal-message" id="confirmMessage"></p>

    <div class="confirm-modal-actions">

      <button
        type="button"
        class="confirm-modal-cancel"
        onclick="closeConfirmModal()"
      >
        Cancel
      </button>

      <button
        type="button"
        class="confirm-modal-confirm"
        id="confirmBtn"
      >
        Confirm
      </button>

    </div>

  </div>

</div>