<div class="sidebar">
  <ul>

    <li class="<%= active === 'profile' ? 'active' : '' %>">
      <a href="/user/profile">
        <i class="fa-solid fa-user"></i>
        My Account
      </a>
    </li>

    <li class="<%= active === 'address' ? 'active' : '' %>">
      <a href="/user/address">
        <i class="fa-solid fa-location-dot"></i>
        Address
      </a>
    </li>

    <li>
      <a href="">
        <i class="fa-solid fa-bag-shopping"></i>
        Orders
      </a>
    </li>

    <li>
      <a href="">
        <i class="fa-solid fa-wallet"></i>
        Wallet
      </a>
    </li>

    <li>
      <a href="">
        <i class="fa-solid fa-circle-info"></i>
        About
      </a>
    </li>

    <li>
      <a href="">
        <i class="fa-solid fa-phone"></i>
        Contact
      </a>
    </li>

    <li>
      <a href="javascript:void(0)" onclick="openUserLogoutModal()">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </a>
    </li>

  </ul>
</div>