<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/user/forgot-password.css" />
    <link rel="stylesheet" href="/css/user/otp-modal.css" />
    <link rel="stylesheet" href="/css/user/global.css">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>Forgot Password</h2>
        <p>Enter your email to receive OTP</p>

        <form id="emailForm" novalidate>
          <div class="input-group">
            <label>Email Address</label>
            <input id="email" type="text" name="email" />
          </div>

          <span class="error-msg" id="errorMsg"></span>

          <button type="submit">Send OTP</button>
        </form>

        <a href="/user/login" class="back-link">Back to Login</a>
      </div>
    </div>
    <%- include("../partials/otp-modal") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/user/otpModal.js"></script>
    <script src="/js/user/forgotPassword.js"></script>
  </body>
</html>
