<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Common Core</title>
    <link rel="stylesheet" href="/css/user/home.css" />
    <link rel="stylesheet" href="/css/user/style.css" />
    <link rel="stylesheet" href="/css/user/global.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- NAVBAR -->
    <%- include("../partials/header") %>
    <!-- HERO -->
    <section class="hero">
      <div class="hero-text">
        <span class="tag">New Collection 2026</span>

        <h1>
          Everyday Wear <br />
          <span>For Everyone.</span>
        </h1>

        <p>
          Premium essentials crafted for comfort and durability. The foundation
          of a modern, timeless wardrobe.
        </p>

        <button>
          <a href="/user/shop">
            Shop Now
          </a>
        </button>
      </div>

      <div class="hero-image">
        <img src="/images/hero.png" alt="models" />
      </div>
    </section>

    <!-- CATEGORY -->
    <section class="categories">
      <h2>Shop by Category</h2>

      <div class="category-grid">
        <div class="card tshirt">
          <h3>T-Shirts</h3>
          <p>100% Cotton Essentials</p>
          <img src="/images/tshirts.png" />
          <span>Explore →</span>
        </div>

        <div class="card jeans">
          <h3>Jeans</h3>
          <p>Timeless Cuts & Washes</p>
          <img src="/images/jeans.png" />
          <span>Explore →</span>
        </div>

        <div class="card hoodies">
          <h3>Hoodies</h3>
          <p>Cozy Everyday Layers</p>
          <img src="/images/hoodies.png" />
          <span>Explore →</span>
        </div>
      </div>
    </section>
     <script src="/js/user/logout.js"></script>

  </body>
</html>
